:root {
    --text-gray: #9aa3bd;
    --bg-dark: #111;
    --text-white: #fff;
    --bg-btn: #333;
    --bg-hero: #222;
}
body {
    background-color: var(--bg-dark);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;
}
.header-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #066;
    .logo{
        height: 60px;
    }   
    .navigation{
        display: flex;
        gap: 1.5vw;
        align-items: center;
        list-style: none;
        .item {
            .link {
                color: var(--text-gray);
                text-decoration: none;
                transition: 0.5s;

                &:hover,
                &.active {
                    color:var(--text-white)
                }
            }
            .call-to-action{
                background-color: var(--bg-btn);
                color: var(--text-white);
                border: 1px solid var(--text-gray);
                border-radius: 15px 20px 15px 20px;
                padding: 4px 10px;
                font-size: 12px;
            }
        } 
    } 
}
.hero {
    background-color: var(--bg-hero);
    padding: 70px 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    .title {
        color: var(--text-white);
        .highlight{
            color: #800080;
        }
        margin-bottom: 15px;
    }
    .description {
        color: #add8e6;
        font-weight: bold;
        text-align: center;
        animation: moverVertical 1s ease-in-out infinite alternate;
        margin-bottom: 20px;
    }
    
    .search {
        border-radius: 30px;
        padding: 10px 12vw;
        background-color: var(--bg-btn);
        color: var(--text-white);
        border: 1px solid rgba (255, 255, 255, 0.3);
        outline: none;
        transition: 0.2s;
        max-width: 50%;
        &:focus{
            border-color: #006666;
        }
        &::placeholder{
            color: var(--text-white);
        }
    }
}
@keyframes moverVertical {
    0% {
        transform: translateY(0px); 
    }
    100% {
        transform: translateY(0.5vh); 
    }
}
.events{
    padding: 30px 0;
    color: var(--text-white);
    background-color: var(--bg-hero);

    .filter{
        justify-content: center;
        display: flex;

        .filter-list{
            display: flex;
            list-style: none;
            gap: 7px;

            .item{
                padding: 5px 10px;
                border: 1px solid var(--text-white);
                border-radius: 20px;
                cursor: pointer;
                transition: 0.3s;
                &.active{
                    background-color: var(--bg-dark);
                    color: aquamarine;
                }
                &:hover{
                    color: #066;
                    border-color: #066;
                }
            }
        }
    }
}
